*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}


.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1b1919;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  padding: 0 0 40px 25px;
}


.page > .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}


.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 0 10px 0;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  margin-top: 75px;
}

.result__video-container video {
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: Oswald, sans-serif;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 401px;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: left;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__checkbox-list:nth-child(2) {
  margin: 0 20px 0 0;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline #fff;
}

.search-form__fieldset {
  border: 0;
  width: 100%;
  margin: 0 0 0 15px;
}

.search-form__fieldset:nth-child(1) {
  margin: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  width: 88%;
}


.search-form__textfield {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid currentColor;
  border-top: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  appearance: none;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
}

.search-form__textfield:focus {
  outline: 1px solid #fff;
  border: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  background-color: transparent;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__textfield:focus,
.search-form__checkbox:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  padding: 1px;
  width: 19px;
  height: 19px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  opacity: 1;
}

.button {
  font-family: Fira Sans Condensed, sans-serif;
  border: 1px solid currentColor;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  padding: 6px 142px;
}

.content__card-link {
  cursor: pointer;
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 0 3px;
}
